<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  
  <system.web>   
    <httpHandlers>
      <add path="*.moc" verb="GET,HEAD" type="System.Web.StaticFileHandler" />
      <add path="*.mtn" verb="GET,HEAD" type="System.Web.StaticFileHandler" />
      <add path="*.js" verb="GET,HEAD" type="System.Web.StaticFileHandler" />
      <add path="*.json" verb="GET,HEAD" type="System.Web.StaticFileHandler" />
      <add path="*.png" verb="GET,HEAD" type="System.Web.StaticFileHandler" />
      <add path="*" verb="*" type="System.Web.HttpNotFoundHandler"/>
    </httpHandlers>
  </system.web>

  <system.webServer>
    <handlers>
      <remove name="BlockViewHandler"/>
      <add name="moc" path="*.moc" verb="GET,HEAD" type="System.Web.StaticFileHandler" />
      <add name="mtn" path="*.mtn" verb="GET,HEAD" type="System.Web.StaticFileHandler" />
      <add name="js" path="*.js" verb="GET,HEAD" type="System.Web.StaticFileHandler" />
      <add name="json" path="*.json" verb="GET,HEAD" type="System.Web.StaticFileHandler" />
      <add name="png" path="*.png" verb="GET,HEAD" type="System.Web.StaticFileHandler" />
      <add name="BlockViewHandler" path="*" verb="*" preCondition="integratedMode" type="System.Web.HttpNotFoundHandler" />
    </handlers>
  </system.webServer>
 
</configuration>