@using MarkdownRepository.Lib
@{
    ViewBag.Title = "CreateBook";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model  MarkdownRepository.Models.Book


<h2>CreateBook</h2>

<div>

    <!-- form -->
    <div>
        
        <!-- name -->
        <!-- description -->
        <!-- category -->

    </div>

</div>
