@{
    ViewBag.Title = "EditBook";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>EditBook</h2>

<div>
    <div>顶部，显示书籍摘要</div>

    <div>左部，显示目录</div>

    <div>
        右部
        <div>
            <div>显示目录，类似 AAA/BBB/CCC</div>
            <div>
                功能按钮
                <button>创建目录</button>
                <button>创建文章</button>
            </div>
        </div>

        <div>
            文章编辑部分
            Edit.md 编辑 markdown
        </div>
    </div>

</div>