@{
    ViewBag.Title = "ShowBook";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ShowBook</h2>

<div>
    <div id="main">
        <div class="window-container with-head">
            <img src="https://cover.kancloud.cn/mrbird/spring-cloud!middle"
                 style="position: absolute; visibility: hidden;">
            <div class="window-head">
                <div class="toolbar">
                    <a data-no-pjax="true" class="title" href="/mrbird/spring-cloud">
                        书名
                    </a>
                    <div class="extra">
                        <div class="ui menu small secondary"></div>
                    </div>
                </div>
            </div>
            <div class="window-body with-sidebar">
                <div class="sidebar">
                    <div class="sidebar-header">
                        <div class="search-form">
                            <div class="ui small fluid icon input">
                                <input type="text" placeholder="请输入搜索关键词..."><i class="icon search"></i>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar-body">
                        <div class="catalog-body">
                            <ul></ul>
                        </div>
                    </div>
                    <div class="sidebar-copyright">本文档使用 <a href="https://www.kancloud.cn" target="_blank">看云</a> 构建</div>
                </div>

            </div>
        </div>
    </div>

</div>