@{
    ViewBag.Title = "Settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-8 offset-md-2 pt-3">
    <div class="card mb-2">
        <h6 class="card-header">
            <i class="fa fa-cog"></i>  <?php echo lng('Settings') ?>
            <a href="?p=<?php echo FM_PATH ?>" class="float-right"><i class="fa fa-window-close"></i> <?php echo lng('Cancel')?></a>
        </h6>
        <div class="card-body">
            <form id="js-settings-form" action="" method="post" data-type="ajax" onsubmit="return save_settings(this)">
                <input type="hidden" name="type" value="settings" aria-label="hidden" aria-hidden="true">
                <div class="form-group row">
                    <label for="js-language" class="col-sm-3 col-form-label"><?php echo lng('Language') ?></label>
                    <div class="col-sm-5">
                        <select class="form-control" id="js-language" name="js-language">
                            <?php
                            function getSelected($l) {
                            global $lang;
                            return ($lang == $l) ? 'selected' : '';
                            }
                            foreach ($lang_list as $k => $v) {
                            echo "
                            <option value='$k' ".getSelected($k).">$v</option>";
                            }
                            ?>
                        </select>
                    </div>
                </div>
                <?php
                //get ON/OFF and active class
                function getChecked($conf, $val, $txt) {
                if($conf== 1 && $val ==1) {
                return $txt;
                } else if($conf == '' && $val == '') {
                return $txt;
                } else {
                return '';
                }
                }
                ?>
                <div class="form-group row">
                    <label for="js-err-rpt-1" class="col-sm-3 col-form-label"><?php echo lng('ErrorReporting') ?></label>
                    <div class="col-sm-9">
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-secondary <?php echo getChecked($report_errors, 1, 'active') ?>">
                                <input type="radio" name="js-error-report" id="js-err-rpt-1" autocomplete="off" value="true" <?php echo getChecked($report_errors, 1, 'checked') ?> > ON
                            </label>
                            <label class="btn btn-secondary <?php echo getChecked($report_errors, '', 'active') ?>">
                                <input type="radio" name="js-error-report" id="js-err-rpt-0" autocomplete="off" value="false" <?php echo getChecked($report_errors, '', 'checked') ?> > OFF
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="js-hdn-1" class="col-sm-3 col-form-label"><?php echo lng('ShowHiddenFiles') ?></label>
                    <div class="col-sm-9">
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-secondary <?php echo getChecked($show_hidden_files, 1, 'active') ?>">
                                <input type="radio" name="js-show-hidden" id="js-hdn-1" autocomplete="off" value="true" <?php echo getChecked($show_hidden_files, 1, 'checked') ?> > ON
                            </label>
                            <label class="btn btn-secondary <?php echo getChecked($show_hidden_files, '', 'active') ?>">
                                <input type="radio" name="js-show-hidden" id="js-hdn-0" autocomplete="off" value="false" <?php echo getChecked($show_hidden_files, '', 'checked') ?> > OFF
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="js-hid-1" class="col-sm-3 col-form-label"><?php echo lng('HideColumns') ?></label>
                    <div class="col-sm-9">
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-secondary <?php echo getChecked($hide_Cols, 1, 'active') ?>">
                                <input type="radio" name="js-hide-cols" id="js-hid-1" autocomplete="off" value="true" <?php echo getChecked($hide_Cols, 1, 'checked') ?> > ON
                            </label>
                            <label class="btn btn-secondary <?php echo getChecked($hide_Cols, '', 'active') ?>">
                                <input type="radio" name="js-hide-cols" id="js-hid-0" autocomplete="off" value="false" <?php echo getChecked($hide_Cols, '', 'checked') ?> > OFF
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="js-dir-1" class="col-sm-3 col-form-label"><?php echo lng('CalculateFolderSize') ?></label>
                    <div class="col-sm-9">
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-secondary <?php echo getChecked($calc_folder, 1, 'active') ?>">
                                <input type="radio" name="js-calc-folder" id="js-dir-1" autocomplete="off" value="true" <?php echo getChecked($calc_folder, 1, 'checked') ?> > ON
                            </label>
                            <label class="btn btn-secondary <?php echo getChecked($calc_folder, '', 'active') ?>">
                                <input type="radio" name="js-calc-folder" id="js-dir-0" autocomplete="off" value="false" <?php echo getChecked($calc_folder, '', 'checked') ?> > OFF
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-success"> <i class="fa fa-check-circle"></i> <?php echo lng('Save'); ?></button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
